<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Between Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="categories">
    <div><p>Welcome to Telegram-Based News Delivery Platform</p></div>
     <div><img src="back.jpeg"></div> 
     <div>
        <h1>Categories</h1>
    <ul>
        {% for category in categories %}
        <li>{{ category.name }}: {{ category.description }}</li>
        {% endfor %}
    </ul>
     </div>
    </div>
</body>
</html>