body{
    background-image: url('Crab_MultiChandra_960.jpg');
    background-size: cover;

}



.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust height as needed */
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: 0 auto;
  }
  
.categories > div {
    margin: 10px; /* Adjust margin as needed */
  }

img{
    width:800px;
    height:500px;
}

p{
    color: azure;
    font-size: 40px;
}